{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id ='info' token-id = {{ csrf_token }} href = {% url "scrap-url" %} ></div> 
{% block script %}
    <script src="{% static 'js/scrap.js' %}"></script>
{% endblock %}
 
{% if 'email' not in request.session %}
	
	<script type="text/javascript">
	   emailInput() ;
	</script> 
{% else %}
	<script type="text/javascript">
	   prePorcess() ;
	</script> 
<p class = "text-center"> Your Email: {{request.session.email}}   </p>
<br>
{% endif %}



 
<div class = "row">
	<div class = "col-md-8">
		<form id ="url_submit" class = "inline" >

			<select id = "portal"  style = "width: 16% ">
			  <option value="pa">Prothom-Alo</option>
			  <option value="kk">Kaler Kantho</option>
			</select>

			<label for="url" ><b>Link:  </b></label>

			<input type="url" id="url"  required="required" style = "width: 60% ">

		    <input type="submit" class="btn btn-info"  value="Submit" >			

		</form>
		<div id = "news" class = "inline text-center">

		</div>

		<div id= "review" class = "inline text-center" style = "display: none">
			<br><br>  
			<input id ='ok' type='button'  class='btn btn-success'  value='Ok' >	
			<input id ='notok'   type='button' class='btn btn-danger'  value='Not Ok' > 
			<br>

		</div>


	</div>

	<div class = "col-md-4">

<!-- 		<h3 class = "text-center">Survey</h3>
		<br>
		<form>
			<ul>
				<li>
					Is this News Portal Controversial?<br>	
				    <label class="radio-inline">
				      <input type="radio" name="q1" checked>NO
				      <input type="radio" name="q1">YES 
				    </label>
				</li>

				<li>
					Is Headline misleading?	<br>
				    <label class="radio-inline">
				      <input type="radio" name="q2" checked>NO
				      <input type="radio" name="q2">YES 
				    </label>
				</li>

				<li>
					Is given image relevant?<br>	
				    <label class="radio-inline">
				      <input type="radio" name="q3" checked>NO
				      <input type="radio" name="q3">YES 
				    </label>
				</li>


				<li>
					This news have any trusted source?<br>	
				    <label class="radio-inline">
				      <input type="radio" name="q4" checked>NO
				      <input type="radio" name="q4">YES 
				    </label>
				</li>

				<li>
					News writing Professional Enough?<br>	
				    <label class="radio-inline">
				      <input type="radio" name="q5" checked>NO
				      <input type="radio" name="q5">YES 
				    </label>
				</li>

				<li>
					Is there any Extreme Biasness?<br>	
				    <label class="radio-inline">
				      <input type="radio" name="q6" checked>NO
				      <input type="radio" name="q6">YES 
				    </label>
				</li>


			</ul>


		   <br>
		  <input class= "text-center" type="submit" value="Submit">
		</form>

 -->


		<h3 class = "text-center">Insctruction</h3>
		<br>
		<ul>
			<li>Just Copy and Past the url. Dont need to worry about font type.</li>
			<li>Don't Submit the News with broken Image/Hedline/Body</li>
			<li>Use the right URL for right News Portal</li>
			<li>News Topic should be related to Bangladesh and those topics are:
				<ul>
					<li>Politics</li>
					<li>Election</li>
					<li>Religion</li>
				</ul>
			</li>
		</ul>

		<h4 style = "color: green" > So far your contribution: <span id = "contribution1"></span> (Today: <span id = "contribution2"></span>) !</h4>

	</div>



</div>

	

{% endblock %}

