{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id ='info' token-id = {{ csrf_token }} href = {% url "scrap-url" %} ></div>
 
<div class = "row">
	<div class = "col-md-8">
		<form id ="url_submit" class = "inline" >

			<select id = "portal"  style = "width: 16% ">
			  <option value="pa">Prothom-Alo</option>
			  <option value="kk">Kaler Kantho</option>
			</select>

			<label for="url" ><b>Link:  </b></label>

			<input type="url" id="url"  required="required" placeholder="Just Copy and Past the url. Dont need to worry about font type." style = "width: 60% ">

		    <input type="submit" class="btn btn-info"  value="Submit" >			

		</form>
		<div id = "news" class = "inline text-center">

		</div>

		<div id= "review" class = "inline text-center">

		</div>


	</div>




</div>

	

{% endblock %}

{% block script %}
    <script src="{% static 'js/scrap.js' %}"></script>
{% endblock %}